<div class="modal-header">
  <button type="button" class="close" data-bs-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Editing Tweeet</h4>
</div>
<div class="modal-body">
<%= render 'form', tweeet: @tweeet %>
</div>

